<span class='fish-title'
	(click)='makeActive()'
	[ngClass]="{'active' : isActive}"
	>Fmail
</span>

<div class='left-buttons'>
	<div class='btn left'>
		<div class='square'></div> ▾
	</div>
	<div class='btn left'>↻</div>
	<div class='btn left more'>More▾</div>
</div>

<!-- <div class='header-btn'>square</div>
<div class='header-btn'>refresh ^</div>
<div class='header-btn'>More ^</div>

<span>1-10 of 20</span>
<div class='header-btn'>arrows</div>
<div class='header-btn'>En +  ^</div>
<div class='header-btn'>Settings ^</div> -->
