<span class='fish-title'
	(click)='makeActive()'
	[ngClass]="{'active' : isActive}"
	>
	Fmail<span class='triangle'>⏷</span>
</span>

<div class='left-buttons'>
	<div class='btn btn-wrap'>
		<div class='square'></div>
		<span class='triangle'>⏷</span>
	</div>
	<div class='btn btn-wrap'>
		<div class='reload'>↻</div>
	</div>
	<div class='btn btn-wrap more'>
		More<span class='triangle'>⏷</span>
	</div>
</div>

<div class='right-buttons'>
	<span class='messages-counter'>1-50 of 88</span>

	<div class='btn-wrap arrows'>
		<div class='btn arrow'>
			<
		</div>
		<div class='btn arrow'>
			>
		</div>
	</div>

	<div class='btn-wrap language'>
		<div class='btn language-show'>En</div>
		<div class='btn language-choose'>
			<span class='triangle'>⏷</span>
		</div>
	</div>

	<div class='btn btn-wrap settings'>
		<span class='cogwheel'>⚙</span>
		<span class='triangle'>⏷</span>
	</div>
</div>
