@media screen and (max-width: 1069px) {
	div.compact-version {
		min-width: 916px;
	}
}

@media screen and (max-width: 918px) {
	div.compact-version {
		min-width: 850px;
	}
}

.header-min-width-1100px {
	min-width: 1100px;
}

.header-min-width-820px {
	min-width: 820px;
}

.header {
	height: 49px;
	line-height: 45px;
	padding: 0 25px;
	display: block;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	user-select: none;

	.triangle-fix {
		width: 0px;
		height: 0px;
		display: inline-block;
		position: relative;
		top: 5px;
    	right: -10px;
		font-size: 7px;
		transform: rotate(135deg);
	}

	.fish-title {
		padding: 5px 0px 5px 5px;
		position: relative;
		top: 2px;
		font-size: 18px;
		color: #dd4b53;
		cursor: pointer;
		border: 2px solid transparent;

		.triangle-fix {
			width: auto;
			height: auto;
			top: -6px;
	    	right: -3px;
		}
	}

	ul.tooltip-title-active {
		visibility: visible;
	}

	.tooltip-title {
		width: 300px;
		line-height: normal;
		padding: 7px 0;
		position: absolute;
		top: 25px;
		left: -2px;
		font-size: 13px;
		font-weight: normal;
		text-align: left;
		color: black;
		background-color: white;
		box-shadow: 0px 4px 10px #c2c2c2;
		list-style-type: none;
		border: 1px solid #c6c6c6;
		z-index: 1;
		visibility: hidden;


		li.option-disabled {
			color: #e2e2e2;
			cursor: default;

			&:hover {
				background-color: white;
			}
		}

		.fmail-title-info {
			padding-left: 15px;
			padding-bottom: 10px;
		}

		.fmail-title-option {
			position: relative;
			padding: 2px 0 2px 25px;
			cursor: pointer;

			.title-link {
				text-decoration: none;
				color: inherit;
			}

			&:hover {
				background-color: #eee;
			}
		}

		.option-logo {
			font-weight: bold;
			color: #dd4b39;

			&:hover {
				color: black;
			}
		}
	}

	.fish-title-active {
		border-color: #a6c7ff;
		border-radius: 3px;

		.tooltip-title {
			visibility: visible;
		}
	}
}
