<div class='header' [ngClass]="{
		'header-min-width-1100px compact-version': msg.showActiveMessageButton,
		'header-min-width-820px': !msg.showActiveMessageButton}">
		<span class='fish-title' (click)='showTitles()'
			[ngClass]="{'fish-title-active' : isTitleActive}">Fmail
			<span class='triangle-fix'>&#9701;</span>

			<ul class='tooltip-title'>
				<li *ngFor="let item of tooltipTitleOptions" [ngClass]='item.class'>
					<a [href]='item.link' class='title-link'>{{item.text}}</a>
				</li>
			</ul>
		</span>


	<fish-header-left-buttons></fish-header-left-buttons>

	<fish-header-right-buttons></fish-header-right-buttons>
</div>
