<div class="new-message-template" *ngFor="let message of newMessages">
	<div class="template-header">
		<span class='header-title'>Нове повідомлення</span>
		<div class='header-buttons'>
			<div class='button-icon'><i class="fas fa-window-minimize minimize"></i></div>
			<div class='button-icon'><i class="fas fa-arrows-alt-v rotate"></i></div>
			<div class='button-icon' (click)="deleteTemplate(message)">
				<i class="fas fa-times"></i>
			</div>
		</div>
	</div>

	<div class="template-input-container receiver">
		<span class='text'>Кому</span>
		<input class='template-input space-left' autofocus #msgTitle />
		<span class='text'>Копія</span>
		<span class='text'>Прихована копія</span>
	</div>

	<div class="template-input-container topic">
		<input class='template-input wide' placeholder="Тема" #msgTopic/>
	</div>

	<textarea class='message-text' #msgContent ></textarea>

	<div class="navigation-panel">
		<div class="left-buttons">
			<div class='write-btn' (click)="sendNewMessage(message)">Надіслати</div>
			<div class="panel-option-wrapper">
				<i class="fas fa-font"></i>
			</div>

			<div class="panel-btn-separator"></div>

			<div class="panel-option-wrapper">
				<i class="fas fa-paperclip"></i>
			</div>

			<div class="panel-option-wrapper company-brand-btn">
				<i class="fab fa-google-drive"></i>
			</div>

			<div class="panel-option-wrapper company-brand-btn">
				<i class="fas fa-camera"></i>
			</div>

			<div class="panel-option-wrapper">
				<i class="fas fa-link"></i>
			</div>

			<div class="panel-option-wrapper">
				<i class="far fa-smile"></i>
			</div>
		</div>

		<div class="right-buttons">
			<div class="panel-option-wrapper company-brand-btn"
				(click)="deleteTemplate(message)">
				<i class="fas fa-trash-alt"></i>
			</div>

			<div class="panel-btn-separator"></div>

			<div class="panel-option-wrapper">
				<i class="fas fa-caret-down"></i>
			</div>
		</div>
	</div>
</div>
