:host {
    max-height: 450px;
    width: 100%;
    padding-right: 28px;
    padding-left: 28px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    overflow: hidden;

    .new-message-template {
        width: 47%;
        max-width: 580px;
        min-width: 345px;
        margin-left: 5px;
        position: relative;
        float: right;
        background-color: white;
        box-shadow: 0px 5px 20px rgb(200, 200, 200);
        z-index: 10;

        .template-header {
            height: 35px;
            line-height: 35px;
            background-color: #404040;
            cursor: pointer;
            user-select: none;

            .header-title {
                margin-left: 15px;
                color: white;
                font-size: 14px;
            }

            .header-buttons {
                float: right;
                font-size: 14px;
                margin-right: 5px;

                .button-icon {
                    display: inline-block;
                    height: 25px;
                    width: 25px;
                    line-height: 25px;
                    color: #a2a2a2;
                    text-align: center;

                    &:hover {
                        background-color: #707070;
                        color: white;
                    }

                    .minimize {
                        font-size: 10px;
                    }

                    .rotate {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .template-input-container {
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid #d7d7d7;

            .template-input {
                padding-left: 5px;
                border: none;
                outline: none;
            }

            .wide {
                width: 100%;
            }

            .space-left {
                width: calc(100% - 175px);
            }

            .text {
                font-size: 13px;
                color: grey;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .receiver {
            padding: 0 5px;
        }
        .message-text {
            width: 100%;
            min-height: 280px;
            padding: 5px;
            resize: none;
            border: none;
            outline: none;
        }

        .navigation-panel {
            height: 45px;
            padding-top: 6px;
            background-color: #f5f5f5;
            border-top: 1px solid #d7d7d7;
            cursor: default;
            user-select: none;

            .panel-option-wrapper {
                height: 28px;
                width: 28px;
                line-height: 28px;
                display: inline-block;
                color: #a2a2a2;
                font-size: 13px;
                text-align: center;
                border: 1px solid transparent;

                &:hover {
                    box-shadow: 0px 0px  3px rgb(200, 200, 200);
                    border-color: #c8c8c8;
                }
            }

            .company-brand-btn {
                font-weight: bold;
                color: grey;
            }

            .panel-btn-separator {
                width: 1px;
                height: 20px;
                display: inline-block;
                vertical-align: middle;
                background-color: #a2a2a2;
            }

            .left-buttons {
                display: inline-block;

                .write-btn {
                    width: 70px;
                    height: 28px;
                    display: inline-block;
                    margin-left: 7px;
                    line-height: 28px;
                    font-weight: bold;
                    font-size: 11px;
                    text-align: center;
                    color: white;
                    background-color: #3079ed;
                    border-radius: 2px;

                    &:hover {
                        background-color: #3f78d4;
                    }
                }

            }

            .right-buttons {
                display: inline-block;
                position: absolute;
                right: 4px;
            }
        }
    }
}
