<div class='write-btn'>WRITE</div>

<div class='menu-item active-item'>
	<div class='menu-item-text'>Income</div>
</div>
<div class='menu-item'>
	<div class='menu-item-text'>Starred</div>
</div>
<div class='menu-item'>
	<div class='menu-item-text'>Sent</div>
</div>
<div class='menu-item'>
	<div class='menu-item-text'>Draft</div>
</div>
<div class='menu-item'>
	<div class='menu-item-text'>More⏷</div>
</div>

<div class='user-profile-icon'></div>

<!-- <div class='conversations-box'>
	<img src='' alt='conversation'/>
	<div class='conversations'></div>
	<a href='#'>Start a new conversation</a>
</div> -->
