<div id='menu' (click)='resize()'>
	<fish-menu-options></fish-menu-options>

	<div class="user-profile" id='drag'>
		<div class='user-profile-icon'>
				<div class='drag-symbol'>
					<i class="fas fa-ellipsis-h"></i>
				</div>
				<img src='./assets/menu/user.png' class='user-image'/>
				<span class='user-name'>Username</span>
				<span class='create-chat-btn'
							(click)='createChat()'
							[ngClass]="{'create-chat-btn-active': showChatCreation}">+
				</span>
		</div>

		<div class='option-box'>
			<div class='contact-option-active'>
				<i class="fas fa-quote-right"></i>
			</div>
			<div class='contact-option-text'>Немає нещодавніх бесід</div>
			<div class='contact-option-text blue-text'>Розпочати новий сеанс</div>
		</div>
	</div>

	<div class='contacts'>
		<div class='contact-option'>
			<i class="fas fa-user"></i>
		</div>

		<div class='contact-option'>
			<i class="fas fa-quote-right"></i>
		</div>

		<div class='contact-option'>
			<i class="fas fa-phone"></i>
		</div>
	</div>
</div>
