<router-outlet></router-outlet>

<footer class='footer'>
	<div class='storage'>
		<div class='storage-info'>Used some space of infinity</div>
		<a class='grey-color block-style' href='#'>Manage</a>
	</div>

	<div class='legal-info'>
		<a class='grey-color' href='#'>Conditions</a> - <a class='grey-color' href='#'>Confidential</a>
	</div>

	<div class='activity'>
		<div class='last-activity'>Last activity of account: 5 min ago</div>
		<div class='account-track'>
			Opened in one more location <a class='grey-color' href='#'>Details</a>
		</div>
	</div>
</footer>
