:host {
	height: calc(100% - 109px);
	margin-left: 202px;
	margin-right: 38px;
	display: block;
	overflow: auto;
	user-select: none;

	.messages-container {
		margin-top: 5px;
		font-size: 13px;
		background-color: #f1f1f1;
		border-top: 1px solid #e2e2e2;
		cursor: pointer;
	}


	.footer {
		margin-top: 15px;
		color: grey;
		font-size: 11px;
		min-width: 600px;

		.block-style {
			display: block;
		}

		.grey-color {
			color: grey;
		}

		.storage {
			width: 33%;
			display: inline-block;
			text-align: left;

			.storage-info {
				font-weight: bold;
			}
		}

		.legal-info {
			width: 33%;
			display: inline-block;
			text-align: center;
			vertical-align: top;
		}

		.activity {
			width: 33%;
			margin-right: -4px;
			display: inline-block;
			text-align: right;
		}
	}
}
