<div class='messages-category'>
	<div class="category-common category grey category-active">R Main</div>
	<div class="category-common category blue">R Social</div>
	<div class="category-common category green">R Advertisement</div>
	<div class="category-common add-category">+</div>
</div>

<div class='messages-container'>
	<div class='message'>
		<div class='message-actions'>
			<div class='inline-info drag-symbol'></div>
			<div class='inline-info square'></div>
			<div class='inline-info star'>★</div>
			<div class='inline-info name'>Name</div>
		</div>

		<div class='message-info'>
			<div class='message-content'>Hi, my name is Rostyslavfgdfghdfghdfgfghdfghfghdfghhdfghdgfhgfhdfghdfgh</div>
			<div class='additional-info'>
				<div class='document-symbol'>clip</div>
				<div class='message-date'>2 бер.</div>
			</div>
		</div>
	</div>

	<div class='message'>
		<div class='message-actions'>
			<div class='inline-info drag-symbol'></div>
			<div class='inline-info square'></div>
			<div class='inline-info star'>★</div>
			<div class='inline-info name'>Name</div>
		</div>

		<div class='message-info'>
			<div class='message-content'>Hi, my name is Rostyslavfgdfghdfghdfgfghdfghfghdfghhdfghdgfhgfhdfghdfgh</div>
			<div class='additional-info'>
				<div class='document-symbol'>clip</div>
				<div class='message-date'>2 бер.</div>
			</div>
		</div>
	</div>
	<div class='message'>
		<div class='message-actions'>
			<div class='inline-info drag-symbol'></div>
			<div class='inline-info square'></div>
			<div class='inline-info star'>★</div>
			<div class='inline-info name'>Name</div>
		</div>

		<div class='message-info'>
			<div class='message-content'>Hi, my name is Rostyslavfgdfghdfghdfgfghdfghfghdfghhdfghdgfhgfhdfghdfgh</div>
			<div class='additional-info'>
				<div class='document-symbol'>clip</div>
				<div class='message-date'>2 бер.</div>
			</div>
		</div>
	</div>
	<div class='message'>
		<div class='message-actions'>
			<div class='inline-info drag-symbol'></div>
			<div class='inline-info square'></div>
			<div class='inline-info star'>★</div>
			<div class='inline-info name'>Name</div>
		</div>

		<div class='message-info'>
			<div class='message-content'>Hi, my name is Rostyslavfgdfghdfghdfgfghdfghfghdfghhdfghdgfhgfhdfghdfgh</div>
			<div class='additional-info'>
				<div class='document-symbol'>clip</div>
				<div class='message-date'>2 бер.</div>
			</div>
		</div>
	</div>
	<div class='message'>
		<div class='message-actions'>
			<div class='inline-info drag-symbol'></div>
			<div class='inline-info square'></div>
			<div class='inline-info star'>★</div>
			<div class='inline-info name'>Name</div>
		</div>

		<div class='message-info'>
			<div class='message-content'>Hi, my name is Rostyslavfgdfghdfghdfgfghdfghfghdfghhdfghdgfhgfhdfghdfgh</div>
			<div class='additional-info'>
				<div class='document-symbol'>clip</div>
				<div class='message-date'>2 бер.</div>
			</div>
		</div>
	</div>
	<div class='message'>
		<div class='message-actions'>
			<div class='inline-info drag-symbol'></div>
			<div class='inline-info square'></div>
			<div class='inline-info star'>★</div>
			<div class='inline-info name'>Name</div>
		</div>

		<div class='message-info'>
			<div class='message-content'>Hi, my name is Rostyslavfgdfghdfghdfgfghdfghfghdfghhdfghdgfhgfhdfghdfgh</div>
			<div class='additional-info'>
				<div class='document-symbol'>clip</div>
				<div class='message-date'>2 бер.</div>
			</div>
		</div>
	</div>
	<div class='message'>
		<div class='message-actions'>
			<div class='inline-info drag-symbol'></div>
			<div class='inline-info square'></div>
			<div class='inline-info star'>★</div>
			<div class='inline-info name'>Name</div>
		</div>

		<div class='message-info'>
			<div class='message-content'>Hi, my name is Rostyslavfgdfghdfghdfgfghdfghfghdfghhdfghdgfhgfhdfghdfgh</div>
			<div class='additional-info'>
				<div class='document-symbol'>clip</div>
				<div class='message-date'>2 бер.</div>
			</div>
		</div>
	</div>
</div>

<footer class='footer'>
	<div class='storage'>
		<div class='storage-info'>Used some space of infinity</div>
		<div>
			<a href='#'>Manage</a>
		</div>
	</div>

	<div class='legal-info'>
		<a href='#'>Conditions</a> - <a href='#'>Confidential</a>
	</div>

	<div class='activity'>
		<div class='last-activity'>Last activity of account: 5 min ago</div>
		<div class='account-track'>
			Opened in one more location <a href='#'>Details</a>
		</div>
	</div>
</footer>
