<div class='right-buttons' [ngClass]="{'compact-version': msg.showActiveMessageButton }">
	<span class='messages-counter'>
		<b>{{currentFirstMessageNumber}}-{{currentLastMessageNumber}} of {{msg.messages.length}}</b>
		<ul class='tooltip-title'>
			<li class='fmail-title-option option-disabled'>Найновіші</li>
			<li class='fmail-title-option'>Найстаріші</li>
		</ul>
	</span>

	<div class='btn-wrap arrows'>
		<div class='btn arrow arrow-left tooltip-anchor' (click)="ManageMessagesNumber.prevPage()">
			<i class="fas fa-chevron-left"></i>
			<span class='tooltip'>Новіші</span>
		</div>
		<div class='btn arrow arrow-right tooltip-anchor' (click)="ManageMessagesNumber.nextPage()">
			<i class="fas fa-chevron-right"></i>
			<span class='tooltip'>Старіші</span>
		</div>
	</div>

	<div class='btn-wrap language'>
		<div class='btn language-show tooltip-anchor'>
			Ук
			<span class='tooltip'>Увімкнення/вимкнення транслітерації (Ctrl-Shift-K)</span>
		</div>
		<div class='btn language-choose tooltip-anchor' (click)='showLanguageChoice($event)'>
			<span class='triangle-fix'>&#9701;</span>
			<span class='tooltip'>Вибрати мову</span>

			<ul class='tooltip-title'
				[ngClass]="{'tooltip-title-active' : ManageHeaderBtnsService.isLanguageChoiceActive}">
				<li class='fmail-title-option'>Транслітерація</li>
				<li class='fmail-title-option'>Екранна клавіатура</li>
				<li class='fmail-title-option'>українська</li>

				<hr class='separation-line'/>

				<div class='additioanl-option'>Налаштування інструментів вводу</div>
			</ul>
		</div>
	</div>

	<div class='btn btn-wrap settings tooltip-anchor' (click)='showSettings($event)'>
		<span class='cogwheel'>
			<i class="fas fa-cog"></i>
		</span>

		<span class='triangle-fix'>&#9701;</span>

		<span class='tooltip'>Налаштування</span>
		<ul class='tooltip-title'
			[ngClass]="{'tooltip-title-active' : ManageHeaderBtnsService.isSettingsActive}">
			<li class='fmail-title-option' (click)="view.manageSize('usual')">
				<span class='check-symbol-view' *ngIf="view.viewSizeType === 'usual'">&#10003;</span>
				Звичайний
			</li>
			<li class='fmail-title-option' (click)="view.manageSize('medium')">
				<span class='check-symbol-view' *ngIf="view.viewSizeType === 'medium'">&#10003;</span>
				Середній
			</li>
			<li class='fmail-title-option' (click)="view.manageSize('compact')">
				<span class='check-symbol-view' *ngIf="view.viewSizeType === 'compact'">&#10003;</span>
				Компактний
			</li>

			<hr class='separation-line'/>

			<div class='additioanl-option'>Налаштувати папку "Вхідні"</div>

			<hr class='separation-line'/>

			<div class='additioanl-option'>Налаштування</div>
			<div class='additioanl-option'>Теми</div>

			<hr class='separation-line'/>

			<div class='additioanl-option'>Завантажити доповнення</div>

			<hr class='separation-line'/>

			<div class='additioanl-option'>Надіслати відгук</div>
			<div class='additioanl-option'>Довідка</div>
		</ul>
	</div>
</div>
