<div class='messages-container'>
	<fish-messages-category *ngIf="msg.currentMessagesType === 'income' ">
	</fish-messages-category>

	<div *ngIf="messages.length"
		class='messages-wrapper'
		[ngClass]="{
			'usual-version': view.viewSizeType === 'usual',
			'medium-version': view.viewSizeType === 'medium',
			'compact-version': view.viewSizeType === 'compact'
	}">
		<div class='message' *ngFor='let message of messages'
			 [ngClass]="{'active-message': message.active,
						 'unread-message': !message.read}">
		  <div class='message-actions'>
		    <div class='inline-info drag-symbol'></div>

		    <div class='inline-info square' (click)='msg.makeMessageActive(message)'>
				<span class='check-symbol'
					[ngClass]="{'check-symbol-show': message.active}"
					>&#10003;
				</span>
			</div>

		    <div class='inline-info star'
				 [ngClass]="{ 'star-active': message.starred}"
				 (click)='msg.makeMessageChangeStar(message)'>★
			</div>

		    <div class='inline-info name'>{{message.title}}</div>
		  </div>

		  <div class='message-info'>
		    <div class='message-content'>{{message.content}}</div>
		    <div class='additional-info'>
		      <div class='document-symbol'>
						<i *ngIf='message.clip' class="fas fa-paperclip"></i>
					</div>
		      <div class='message-date'>{{message.date}}</div>
		    </div>
		  </div>
		</div>
	</div>

	<div *ngIf="!messages.length" class='empty-folder'>Sorry, nothing to display here..</div>
</div>
