@mixin usual {
	.message {
		height: 39px;
	}
}

@mixin medium {
	.message {
		height: 33px;
	}
}

@mixin compact {
	.message {
		height: 26px;
	}
}

@media screen and (max-width: 1059px) {
	@include compact;
}

@media screen and (min-width: 1060px) {
	@include medium;

	.compact-version {
	    @include compact;
	}

	.medium-version {
	    @include medium;
	}
}

@media screen and (min-width: 1252px) {
	@include usual;

	.compact-version {
	    @include compact;
	}

	.usual-version {
	    @include usual;
	}

	.medium-version {
	    @include medium;
	}
}

.messages-container {
	min-width: 566px;
	min-height: 400px;
	display: block;
	font-size: 13px;
	background-color: white;

	.messages-wrapper {
		border-width: 1px;
		border-style: solid;
		border-color: #e2e2e2 transparent transparent transparent;
		cursor: pointer;

		div.unread-message {
			font-weight: bold;
			color: black;
			background-color: white;
		}

		div.active-message {
			background-color: #ffc;
		}

		.message {
			min-width: 510px;
			background-color: #f1f1f1;
			border-width: 1px;
			border-style: solid;
			border-color: transparent transparent #e2e2e2 transparent;

			&:hover .message-actions .drag-symbol {
				visibility: visible;
			}

			.message-actions {
				display: inline-block;
				width: 250px;
				height: 100%;

				.drag-symbol {
					width: 5px;
					height: 100%;
					margin-left: 1px;
					cursor: grab;
					border-left: 2px dotted #c6c6c6;
					border-right: 2px dotted #c6c6c6;
					visibility: hidden;
				}

				.square {
					width: 13px;
					height: 13px;
					display: inline-block;
					position: relative;
					border: 1px solid #c6c6c6;
					cursor: default;
					vertical-align: super;

					&:hover {
						border-color: #a6a6a6;
					}

					.check-symbol {
						position: absolute;
				    	color: grey;
				    	font-size: 17px;
				    	top: -7px;
						visibility: hidden;
					}

					.check-symbol-show {
						visibility: visible;
					}
				}

				.star {
					margin-left: 4px;
					margin-right: 10px;
					font-size: 23px;
					line-height: 23px;
					vertical-align: super;
					color: #d7d7d7;
				}

				.star-active {
					color: #ffd76e;
				}

				.inline-info {
					display: inline-block;
					vertical-align: middle;
				}
			}

			.message-info {
				width: calc(100% - 255px);
				display: inline-block;
				vertical-align: middle;

				.message-content {
					width: calc(100% - 110px);
					display: inline-block;
					color: #a2a2a2;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.additional-info {
					display: inline-block;
					vertical-align: top;
					z-index: 2;

					.document-symbol {
						width: 20px;
						position: relative;
						top: 4px;
					    display: inline-block;
					    color: #c2c2c2;
					    transform: rotate(45deg);
					}

					.message-date {
						width: 80px;
						display: inline-block;
						text-align: center;
					}
				}
			}
		}
	}

	.empty-folder {
		margin-top: 50px;
		font-size: 16px;
		text-align: center;
	    color: grey;
	}
}
