@media screen and (max-width: 1059px) {
	.category {
		width: 32%;
		padding-left: 10px;
	}

	.category-common {
		height: 30px;
		line-height: 30px;
	}

	div.category-active {
		line-height: 28px;
	}

	.jump-fix:hover {
		line-height: 28px
	}

	.category-horiz-line {
		width: calc(100% - 796px);
	}

	.message {
		height: 23px;
	}
}

@media screen and (min-width: 1060px) {
	.category {
		width: 250px;
		padding-left: 20px;
	}

	.category-common {
		height: 42px;
		line-height: 42px;
	}

	div.category-active {
		line-height: 40px;
	}

	.jump-fix:hover {
		line-height: 40px
	}

	.category-horiz-line {
		width: calc(100% - 758px);
	}

	.message {
		height: 33px;
	}
}

@media screen and (min-width: 1252px) {
	.message {
		height: 38px;
	}
}

:host {
	display: block;
	background-color: white;

	.messages-category {
		min-width: 400px;
		margin-top: 10px;
		margin-bottom: 7px;
		cursor: default;

		.category {
			margin-right: -7px;
			font-size: 13px;
			text-align: left;
			border: 1px solid #d7d7d7;
			border-right: 1px solid transparent;
			border-top: 1px solid #d7d7d7;
		}

		.category-common {
			display: inline-block;
			background-color: #f1f1f1;
			cursor: pointer;
			vertical-align: middle;
		}

		.category-icon {
			margin-right: 5px;
			font-size: 15px;
			color: grey;
		}

		.category-active {
			border-top: 2px solid grey;
			border-bottom: 1px solid transparent;
			background-color: white;

			.category-icon {
				color: black;
			}
		}

		.add-category {
			width: 18px;
			margin-right: -4px;
			font-weight: bold;
			font-size: 16px;
			text-align: center;
			color: grey;
			border: 1px solid #d7d7d7;

			&:hover {
				color: black;
			}
		}

		.category-horiz-line {
		    display: inline-block;
		    vertical-align: bottom;
		    border-bottom: 1px solid #d7d7d7;
		}

		.grey:hover {
			border-top: 2px solid grey;
		}

		.blue:hover {
			border-top: 2px solid blue;
		}

		.green:hover {
			border-top: 2px solid green;
		}
	}

	.messages-wrapper {
		border-width: 1px;
		border-style: solid;
		border-color: #e2e2e2 transparent transparent transparent;

		div.unread-message {
			font-weight: bold;
			color: black;
			background-color: white;
		}

		div.active-message {
			background-color: #ffc;
		}

		.message {
			min-width: 510px;
			background-color: #f1f1f1;
			border-width: 1px;
			border-style: solid;
			border-color: transparent transparent #e2e2e2 transparent;

			&:hover .message-actions .drag-symbol {
				visibility: visible;
			}

			.message-actions {
				display: inline-block;
				width: 250px;
				height: 100%;

				.drag-symbol {
					width: 5px;
					height: 100%;
					margin: 0 2px;
					cursor: grab;
					border-left: 2px dotted #c6c6c6;
					border-right: 2px dotted #c6c6c6;
					visibility: hidden;
				}

				.square {
					width: 13px;
					height: 13px;
					display: inline-block;
					position: relative;
					border: 1px solid #c6c6c6;
					cursor: default;
					vertical-align: super;

					&:hover {
						border-color: #a6a6a6;
					}

					.check-symbol {
						position: absolute;
				    	color: grey;
				    	font-size: 17px;
				    	top: -7px;
						visibility: hidden;
					}

					.check-symbol-show {
						visibility: visible;
					}
				}

				.star {
					margin-left: 8px;
					margin-right: 10px;
					font-size: 22px;
					line-height: 22px;
					vertical-align: super;
					color: grey;
				}

				.star-active {
					color: #ffd76e;
				}

				.inline-info {
					display: inline-block;
					vertical-align: middle;
				}
			}

			.message-info {
				width: calc(100% - 254px);
				display: inline-block;
				vertical-align: middle;

				.message-content {
					width: calc(100% - 108px);
					display: inline-block;
					color: #a2a2a2;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				.additional-info {
					display: inline-block;
					vertical-align: top;
					z-index: 2;

					.document-symbol {
						width: 20px;
						position: relative;
						top: 4px;
				    display: inline-block;
				    color: #c2c2c2;
				    transform: rotate(45deg);
					}

					.message-date {
						width: 80px;
						display: inline-block;
						text-align: center;
					}
				}
			}
		}
	}

}
