@media screen and (max-width: 1059px) {
    .menu-item {
        height: 19px;
        line-height: 19px;
    }

    .income-arrow {
        top: 20%;
    }
}

@media screen and (min-width: 1060px) {
    .menu-item {
        height: 25px;
        line-height: 25px;
    }

    .income-arrow {
        top: 25%;
    }
}

@media screen and (min-width: 1252px) {
    .menu-item {
        height: 28px;
        line-height: 28px;
    }

    .income-arrow {
        top: 30%;
    }
}

.menu-options {
    .write-btn {
        width: 115px;
        margin-top: 10px;
        margin-left: 31px;
        margin-bottom: 10px;
        padding: 9px 0px;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        color: white;
        background-color: #dd4b39;
        border-radius: 2px;
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #cc4b39;
        }

        &:active {
            background-color: #bb4b39;
        }
    }

    .menu-item {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        cursor: pointer;

        &:hover .income-arrow {
            visibility: visible;
        }

        &:focus {
          outline: none;
        }

        .menu-item-text {
            margin: 0px 8px;
            padding-left: 19px;
            font-size: 13px;
            position: relative;

            &:hover {
                background-color: #eee;
            }
        }

        .menu-item-text-back-white {
            &:hover {
                background-color: white;
            }
        }

        .less-border {
            margin-bottom: 1px;
            border-bottom: 1px solid #eee;
        }

        .category {
            margin-top: 5px;
            position: relative;

            &::before {
                content: "◥";
                position: absolute;
                left: 4px;
                color: #595959;
                font-size: 8px;
                transform: rotate(45deg);
            }
        }

        .extend-category-text {
            font-weight: bold;

            &::before {
                font-weight: normal;
            }
        }

        .normal-category-text::before {
            content: "◥";
            top: -2px;
            transform: rotate(135deg);
        }

        .extended-menu-link {
            text-decoration: none;
            color: #15c;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .income-arrow {
        width: 12px;
        height: 12px;
        line-height: 9px;
        position: absolute;
        right: 5px;
        font-size: 10px;
        text-align: center;
        color: black;
        background-color: white;
        border: 1px solid #aeaeae;
        border-radius: 2px;
        visibility: hidden;

        .triangle-fix {
          top: -2px;
          font-size: 7px;
        }

        &:hover {
            color: white;
            background-color: black;
            border-color: transparent;
        }
    }

    .category-style-arrow {
        color: white;
        border: none;

        span.triangle-fix {
            top: 0px;
            font-size: 9px;
            transform: rotate(0deg);
        }
    }

    .blue-style-arrow {
        background-color: skyblue;
    }

    .green-style-arrow {
        background-color: green;
    }

    .yellow-style-arrow {
        background-color: orange;
    }

    .purple-style-arrow {
        background-color: purple;
    }

    span.triangle-up {
      top: 1px;
      transform: rotate(-45deg);
    }

    .triangle-fix {
      display: inline-block;
      position: relative;
      top: -3px;
      font-size: 7px;
      transform: rotate(135deg);
    }

    .active-item {
        font-weight: bold;
        color: #dd4b39;
        border-left: 4px solid #dd4b39;
    }

    .extended-category-icon {
        font-size: 11px;
        color: grey;
    }
}
