<div class='left-buttons' [ngClass]="{'compact-version': msg.showActiveMessageButton }">
	<div class='btn btn-wrap actions tooltip-anchor' (click)='showActions($event)'>
		<div class='square' (click)='changeActiveness($event)'>
			<div *ngIf="(msg.showActiveMessageButton && !msg.allMessagesActive)" class='horiz-line'></div>

			<span class='check-symbol' *ngIf="msg.showActiveMessageButton && msg.allMessagesActive">&#10003;</span>


		</div>
		<span class='triangle-fix'>&#9701;</span>

		<span class='tooltip'>Вибрати</span>

		<ul class='tooltip-title'
			[ngClass]="{'tooltip-title-active' : ManageHeaderBtnsService.isActoinsActive}">

			<li class='fmail-title-option'
					*ngFor='let select of selectActiveOptions'
					(click)='msg.selectMessages(select)'>{{select}}
			</li>
		</ul>
	</div>

		<div class='btn btn-wrap refresh tooltip-anchor reload'
				*ngIf="!msg.showActiveMessageButton"
				(click)="reloadPage()">
			<i class="fas fa-redo-alt"></i>
			<span class='tooltip'>Оновити</span>
		</div>


	<div class='btn-wrap active-msg-actions' *ngIf="msg.showActiveMessageButton">
			<div class='dlt-spam-arch btn-wrap'>
				<div class='btn btn-inline'>
					<i class="fas fa-archive"></i>
				</div>

				<div class='btn btn-inline'>
					<i class="fas fa-exclamation-circle"></i>
				</div>

				<div class='btn btn-inline' (click)='msg.deleteMessage()'>
					<i class="fas fa-trash-alt"></i>
				</div>
			</div>

			<div class='folder-mark btn-wrap'>
				<div class='btn btn-inline' (click)='makeReplaceBtnActive($event)'>
					<i class="fas fa-folder"></i>
					<span class='triangle-fix'>&#9701;</span>
					<ul class='tooltip-title'
						[ngClass]="{'tooltip-title-active' : ManageHeaderBtnsService.isReplaceActive}">
						<li class='fmail-title-info'>Перемістити у</li>
						<li class='fmail-title-option' (click)="changeCategory('social')">Соцмережі</li>
						<li class='fmail-title-option'(click)="changeCategory('advertisment')">Реклама</li>
						<li class='fmail-title-option' (click)="changeCategory('updates')">Оновлення</li>
						<li class='fmail-title-option' (click)="changeCategory('forums')">Форуми</li>

						<hr class='separation-line'/>

						<li class='fmail-title-option' (click)="changeType('spam')">Спам</li>
						<li class='fmail-title-option' (click)='deleteMsg()'>Кошик</li>

						<hr class='separation-line'/>

						<li class='fmail-title-option'>Створити нову</li>
						<li class='fmail-title-option'>Керування мітками</li>
					</ul>
				</div>
				<div class='btn btn-inline'>
					<i class="fas fa-bookmark"></i>
					<span class='triangle-fix'>&#9701;</span>
				</div>
			</div>
	</div>

	<div class='btn btn-wrap more' (click)='showMore($event)'>
		Більше<span class='triangle-fix'>&#9701;</span>

		<ul class='tooltip-title'
			[ngClass]="{'tooltip-title-active' : ManageHeaderBtnsService.isMoreActive}">
			<li *ngIf='!msg.showActiveMessageButton' class='fmail-title-option' (click)='msg.markAllasRead()'>Позначити всі як прочитані</li>
			<li *ngIf='!msg.showActiveMessageButton' class='system-message'>Виберіть повідомлення, щоб відобразити більше дій</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option' (click)='msg.changeReadState(true)'>Позначити як прочитане</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option' (click)='msg.changeReadState(false)'>Позначити як непрочитане</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option' (click)='msg.changeImportantState(true)'>Позначити як важливе</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option' (click)='msg.changeImportantState(false)'>Позначити як неважливе</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option'>Додати до завдань</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option' (click)='msg.changeStarredState(true)'>Додати зірочку</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option' (click)='msg.changeStarredState(false)'>Зняти зірочку</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option'>Фільтрувати схожі повідомлення</li>
			<li *ngIf='msg.showActiveMessageButton' class='fmail-title-option'>Ігнорувати</li>
		</ul>
	</div>
</div>
